/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap.scss";
@import '~ng-fullcalendar/node_modules/fullcalendar/dist/fullcalendar.min.css';

.wrapper {
  margin: 25px;
}
.logs {
  margin-top: 30px;

  .stats {
    font-family: 'Courier New', Courier, monospace;
    font-size: .8em;
    white-space: pre;
    overflow: scroll;
    width: 100%;
    height: 300px;
  }
}
